@{Layout = "_Layout";}

@using HairSalon.Models;

<div class="stylistDetails">
  <h3>Stylist Details:</h3>
  <hr>
  <h5>Name: @Model.Name</h5>
  <h5>Description: @Model.Description</h5>
  <div class="clients">
    @if(Model.Clients.Count == 0)
    {
      <h4>This stylist has no clients yet!</h4>
    }
    @foreach (Client client in Model.Clients)
    {
      <div class="clientDiv">
        <h4>@Html.ActionLink($"{client.Name}", "Show", "Client", new { id = client.ClientId })</h4>
      </div>
    }
  </div>
</div>

<p>@Html.ActionLink("Add new Client", "Create", "Client", new { id = Model.StylistId })</p>